<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
</head>
<body>

    <div id="app">
        <div>
            <!--使用 v-for="item in items" 语法进行列表渲染-->
            <ul>
                <li v-for="item in list1">{{item.message}}</li>
            </ul>
            <!-- v-for 还支持第二个参数作为索引-->
            <!-- v-for 块内拥有对父作用域的完全访问全新啊-->
            <ul>
                <li v-for="(item,index) in list1">{{message}} {{index}}:{{item.message}}</li>
            </ul>
            <!--也可以'of'代替'in'，它接近js迭代器语法-->
            <ul>
                <li v-for="item of list1">{{item.message}}</li>
            </ul>
        </div>
        <br/>

        <!--也可以迭代一个对象，接收三个参数：index\key\value-->
        <!--注意：并不能保证迭代顺序-->
        <div>
            <ul>
                <li v-for="(value,key,index) of list2">{{index}}:{{key}}:{{value}}</li>
            </ul>
        </div>
    </div>

    <script src="../../../node_modules/vue/dist/vue.js"></script>
    <script src="./index010.js"></script>
</body>
</html>