.toggleA-enter-active, .toggleA-leave-active {
    transition: opacity 3s
}

.toggleA-enter, .toggleA-leave-to {
    opacity: 0
}

.b {
    background-color: #0ff;
}

.toggleB-enter {
    background-color: #f0f;
}

.toggleB-enter-active {
    transition: background-color 3s;
}

.toggleB-enter-to {
    background-color: #ff0;
}

.toggleB-leave {
    /*没有用，bug？*/
    background-color: #f00;
}

.toggleB-leave-active {
    transition: background-color 3s;
}

.toggleB-leave-to {
    background-color: #0f0;
}

@keyframes cAnimate {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.c {
    background-color: #0ff;
}

.toggleC-enter {
    background-color: #f0f;
}

.toggleC-enter-active {
    animation: cAnimate 3s;
    transition: background-color 3s;
}

.toggleC-leave-active {
    animation: cAnimate 3s reverse;
    transition: background-color 3s;
}

.toggleC-leave-to {
    background-color: #ff0;
}
.toggleC-leave-to-myself{
    background-color: black;
}