<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
</head>
<body>

    <div id="app">
        <div>
            <!-- v-for 也可以取整数，来生成任意个数的元素-->
            <ul>
                <li v-for="n in 3">{{n}}</li>
            </ul>
        </div>
        <br/>

        <div>
            <!-- v-for也可以用在template上，来生成多个元素-->
            <ul>
                <template v-for="item in list1">
                    <li>{{item.name}}</li>
                    <li>{{item.value}}</li>
                </template>
            </ul>
        </div>
        <br/>


        <div>
            <!-- v-for与v-if同时使用时，v-for 的优先级高于 v-if。也就是说v-if会在每个生成的元素上运行-->
            <ul>
                <li v-for="item in list1" v-if="item.show">{{item.value}}</li>
            </ul>
            <!--如果要条件控制整个列表的渲染，将v-if放在外层元素上-->
            <div>不渲染：</div>
            <ul>
                <template v-if="false">
                    <li v-for="item in list1">{{item.value}}</li>
                </template>
            </ul>
        </div>
        <br/>

        <div>
            <h3>在组件上使用v-for</h3>
            <!--在组件上使用 v-for 时，key是必须的，除此之外与普通元素相同-->
            <ul>
                <!--注意这里的"is"调用组件方式，因为ul孩子只接受li，这样可以保证浏览器解析正确-->
                <li is="one" v-for="(item,index) in list1" :key="index" :data="item.value"></li>
            </ul>
        </div>
    </div>

    <script src="../../../node_modules/vue/dist/vue.js"></script>
    <script src="./index010.js"></script>
</body>
</html>