<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
</head>
<body>

    <div id="app">
        <div>
            <span>login type:</span>
            <input type="radio" v-bind:value="'userName'" v-model="loginType">
            <input type="radio" v-bind:value="'email'" v-model="loginType">
        </div>
        <br/>

        <!--vue在重新渲染时会复用已有元素-->
        <!--所以如下，input元素会被复用，内容不会被清除-->
        <div>
            <template v-if="loginType==='userName'">
                <label>user name:</label>
                <input placeholder="enter user name">
            </template>
            <template v-else>
                <label>email:</label>
                <input placeholder="enter user email">
            </template>
        </div>
        <br/>

        <!--如果不想元素复用，可以用key来管理它们-->
        <div>
            <template v-if="loginType==='userName'">
                <label>user name:</label>
                <input placeholder="enter user name" key="userName-input">
            </template>
            <template v-else>
                <label>email:</label>
                <input placeholder="enter user email" key="email-input">
            </template>
        </div>
    </div>

    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="./index010.js"></script>
</body>
</html>