<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>构造器与组件构造器</title>
</head>
<body>

    <div id="app">
        <div><input type="text" v-model="message"></div>
        <!--//文本////////////////-->
        <div>{{message}}</div>
        <div v-once>这里是一次性插值：{{message}}</div>
        <!--//纯html////////////////-->
        <div v-html="html"></div>
        <!--//属性，使用v-bind///////////////-->
        <div v-bind:title="title">绑定了title属性</div>
        <!--//js表达式；每个绑定只能包含单个表达式；表达式中不能访问全局变量//////////-->
        <div v-bind:title="title+'use js'">使用了js表达式：{{1+1}}</div>
        <!--//指令；指令的值预期为单个js表达式/////////////////////-->
        <div v-if="seen">使用了指令</div>
        <!--//指令的参数，如下title是v-bind的参数，click是v-on的参数//////////-->
        <div v-bind:title="title">使用了指令参数</div>
        <button v-on:click="doSth">使用了指令参数</button>
        <!--//指令的修饰符，修饰符之处指令以特殊方式绑定//////////-->
        <form v-on:submit.prevent="doSth">
            <input type="submit" value="提交">
        </form>
    </div>

    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../dist/010default/030模板语法/index010.js"></script>
</body>
</html>