<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
</head>
<body>

    <div id="app">
        <div>
            <ul>
                <li v-for="(item,index) in list1">{{item.value}}</li>
            </ul>
        </div>
        <br/>

        <div>
            <!--当需要过滤或排序列表，可以使用计算属性-->
            <ul>
                <li v-for="(item,index) in sortedList1">{{item.value}}</li>
            </ul>
        </div>
        <br/>

        <div>
            <!--当计算属性不适用，也可以使用一个方法-->
            <ul>
                <li v-for="(item,index) in sortList(list1)">{{item.value}}</li>
            </ul>
        </div>
    </div>

    <script src="../../../node_modules/lodash/lodash.js"></script>
    <script src="../../../node_modules/vue/dist/vue.js"></script>
    <script src="./index010.js"></script>
</body>
</html>