<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单输入绑定</title>
</head>
<body>

    <div id="app">
        <div>
            <!--对于单选、选择框、多个复选框，可以用value设置绑定字符串-->
            <div>
                <label><input type="radio" v-model="radioOne" value="a">a</label>
                <label><input type="radio" v-model="radioOne" value="b">b</label>
                <label><input type="radio" v-model="radioOne" value="c">c</label>
                <div>{{radioOne}}</div>
            </div>
            <div>
                <select v-model="selectOne">
                    <option disabled value="">请选择</option>
                    <option value="a">a</option>
                    <option value="b">b</option>
                    <option value="c">c</option>
                </select>
                <div>{{selectOne}}</div>
            </div>
            <div>
                <label><input type="checkbox" v-model="checkboxOne" value="a">a</label>
                <label><input type="checkbox" v-model="checkboxOne" value="b">b</label>
                <label><input type="checkbox" v-model="checkboxOne" value="c">c</label>
                <div>{{checkboxOne}}</div>
            </div>
        </div>
        <br/>

        <div>
            <!--对于单选、选择框、多个复选框，可以用v-bind:value来绑定非字符串的值-->
            <div>
                <div>
                    <label v-for="item of options"><input type="radio" v-model="radioTwo" :value="item">{{item.value}}</label>

                    <div>{{radioTwo}}</div>
                </div>
                <div>
                    <select v-model="selectTwo">
                        <option disabled :value="null">请选择</option>
                        <option v-for="item of options" :value="item">{{item.value}}</option>
                    </select>
                    <div>{{selectTwo}}</div>
                </div>
                <div>
                    <label v-for="item of options"><input type="checkbox" v-model="checkboxTwo" :value="item">{{item.value}}</label>
                    <div>{{checkboxTwo}}</div>
                </div>
            </div>
        </div>
        <br/>

        <div>
            <!--对于单个复选框，默认绑定值为true/false，可以用true-value/false-value来设置绑定值-->
            <div>
                <input type="checkbox" v-model="checkboxThree" :true-value="{value:'a'}" :false-value="{value:'b'}">
            </div>
            <div>{{checkboxThree}}</div>
        </div>
    </div>

    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="./index010.js"></script>
</body>
</html>